**import packages**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
impot seaborn as sns

**Read the data**

In [3]:
import pandas as pd

In [5]:
visa_df=pd.read_csv(r"C:\Users\Vyshnavi\OneDrive\Documents\Data Science\Naresh IT\Data Files\Visadataset - Visadataset.csv")
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

**Select the numerical columns**

In [6]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**prevailing_wage**

- len

- max

- min

- mean

- median

- std

- 75%

- 50%

- 25%

**count or len**

In [8]:
len(visa_df['prevailing_wage'])

25480

**max**

In [9]:
max(visa_df['prevailing_wage'])

319210.27

In [10]:
visa_df['prevailing_wage'].max()

319210.27

In [15]:
import numpy as np

In [16]:
np.max(visa_df['prevailing_wage'])

319210.27

**min**

In [18]:
visa_df['prevailing_wage'].min()

2.1367

**mean**

In [20]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [22]:
np.mean(visa_df['prevailing_wage'].median())

70308.20999999999

**median**

In [23]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [24]:
np.median(visa_df['prevailing_wage'].mean())

74455.81459209183

**std**

In [25]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [26]:
np.std(visa_df['prevailing_wage'].std())

0.0

**Mode is not good option because it is numerical variable**

In [31]:
##All together

wage_count=round(len(visa_df['prevailing_wage']),2)
wage_min=round((visa_df['prevailing_wage']).min(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)
list_values=[wage_count,wage_min,wage_max,
             wage_mean,wage_median,wage_std]
index_val=['count','min','max','mean','median','std']
pd.DataFrame(list_values,
             columns=['prevailing_wage'],
             index=index_val)

        prevailing_wage
count          25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94

**Percentile and Quantile**

- percentaile:

    - np.percentile()
    
    - It will take two arguments
    
         - data  :a
            
         - pecentile: q the values varies from 0 to 1
         
    
  
- Quantile

    - np.quantile()
    
    - It will take two arguments
    
        - data :a
        
        - pecentile: q the values varies from 0 to 1
        
        - if you want 50p q=0.5

**25p-50p-75p**

In [32]:
wage_25p=round(np.percentile(visa_df['prevailing_wage'],25),2)

wage_50p=round(np.percentile(visa_df['prevailing_wage'],50),2)

wage_75p=round(np.percentile(visa_df['prevailing_wage'],75),2)

print(f"the 25% data is {wage_25p}")
print(f"the 50% data is {wage_50p}")
print(f"the 75% data is {wage_75p}")

the 25% data is 34015.48
the 50% data is 70308.21
the 75% data is 107735.51

In [33]:
345.89678

345.89678

In [34]:
round(345.89678,2)

345.9

In [38]:
wage_25p=round(np.quantile(visa_df['prevailing_wage'],0.25),2)

wage_50p=round(np.quantile(visa_df['prevailing_wage'],0.50),2)

wage_75p=round(np.quantile(visa_df['prevailing_wage'],0.75),2)

print(f"the 25% data is {wage_25p}")
print(f"the 50% data is {wage_50p}")
print(f"the 75% data is {wage_75p}")

the 25% data is 34015.48
the 50% data is 70308.21
the 75% data is 107735.51

**Understand the percentiles**

- defination of 25percentile

   - there 25% of employees has salary less than 34015
    
   - total employees= 25480

   - 25% of employees= 25*25480/100= 6370

   - 6370 employees salary less than 34015

In [39]:
visa_df['prevailing_wage']<34015

0         True
1        False
2        False
3        False
4        False
         ...
25475    False
25476    False
25477    False
25478    False
25479    False
Name: prevailing_wage, Length: 25480, dtype: bool

In [41]:
con=visa_df['prevailing_wage']<34015
visa_df[con]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
7,EZYV08,North America,Bachelor's,Y,N,3035,1924,West,418.2298,Hour,Y,Denied
12,EZYV13,Asia,Bachelor's,Y,N,123876,1963,Northeast,28663.0500,Year,Y,Certified
16,EZYV17,Europe,Master's,Y,N,76638,1991,Midwest,3706.7900,Year,Y,Certified
17,EZYV18,Asia,Master's,Y,N,2747,2001,West,16132.6100,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25461,EZYV25462,Asia,Master's,Y,N,2861,2004,West,54.9196,Hour,Y,Denied
25465,EZYV25466,North America,High School,N,N,2577,1995,South,481.2238,Hour,Y,Certified
25466,EZYV25467,Europe,Bachelor's,Y,N,1938,2005,West,6973.4000,Year,Y,Denied
25470,EZYV25471,North America,Master's,Y,N,2272,1970,Northeast,516.4101,Hour,Y,Certified
25473,EZYV25474,Asia,Bachelor's,Y,N,2421,2007,Northeast,22845.5600,Year,Y,Certified

In [42]:
con=visa_df['prevailing_wage']<34015
len(visa_df[con])

6370

In [47]:
con=visa_df['prevailing_wage']<wage_50p
len(visa_df[con])

12740

In [46]:
con=visa_df['prevailing_wage']<wage_75p
len(visa_df[con])

19110

In [ ]:
**Emperical rule**

-

In [ ]:
- First calculate mean value

- second calculate std value

- con1: mean-1*std
    
- con2: mean+1*std
    
- If you apply above conditions on wage data, the output count
should be equal to 68percentile data

- 68% of total employees: 17326

In [48]:
68*25480/100

17326.4

In [50]:
con1=wage_mean-1*wage_std
con2=wage_mean+1*wage_std
con1,con2

(21639.869999999995, 127271.75)

In [61]:
v1=wage_mean-1*wage_std
v2=wage_mean+1*wage_std
con1=visa_df['prevailing_wage']>v1
con2=visa_df['prevailing_wage']<v2

count1=len(visa_df[con1 & con2])
##################################
count1,68*25480/100

(17171, 17326.4)

In [62]:
v1=wage_mean-2*wage_std
v2=wage_mean+2*wage_std
con1=visa_df['prevailing_wage']>v1
con2=visa_df['prevailing_wage']<v2

count1=len(visa_df[con1 & con2])
##################################
count1,95*25480/100

(24582, 24206.0)

In [63]:
v1=wage_mean-3*wage_std
v2=wage_mean+3*wage_std
con1=visa_df['prevailing_wage']>v1
con2=visa_df['prevailing_wage']<v2

count1=len(visa_df[con1 & con2])
##################################
count1,99.7*25480/100

(25186, 25403.56)